<footer class="footer">
  <div class="container">
    <div class="footer-top-wrapper">
      <a class="footer-logo" href="https://rocketreact.github.io/x-team-eco-tote/">
        <svg class="footer-logo-icon" width="281" height="121">
          <use href="./img/logo.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a href="#about-us" class="footer-nav-list-link">Про нас</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#advantages" class="footer-nav-list-link">Переваги</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#assortment" class="footer-nav-list-link">Асортимент</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#gallery" class="footer-nav-list-link">Галерея</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#feedback" class="footer-nav-list-link">Відгуки</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#support" class="footer-nav-list-link">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icon" width="32" height="32">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icon" width="32" height="32">
                <use href="/img/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icon" width="32" height="32">
                <use href="/img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom-wrapper">
      <address>
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a class="footer-address-list-link" href="tel:+380999091122"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="footer-address-item">
            <a class="footer-address-list-link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <div class="footer-copyright">
        <p class="footer-copyright-text">
          &copy; 2025 EcoTote. Всі права захищені.
        </p>
      </div>
    </div>
  </div>
</footer>
