<section class="hero">
  <div class="container hero-container">
    <div class="hero-content-wrapper">
      <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті.</h1>
      <div class="hero-text-content-wrapper">
        <p class="hero-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>

        <a class="hero-button button" href="#assortment">Купити зараз</a>
      </div>
    </div>
    <picture>
      <!-- Desktop Retina Adaptation -->
      <source
        media="(min-width: 1440px)"
        srcset="/img/hero/hero-desc@2x.png 2x, /img/hero/hero-desc.png 1x"
        width="1312"
        height="498"
      />

      <!-- Tablet Retina Adaptation -->
      <source
        media="(min-width: 768px)"
        srcset="/img/hero/hero-tab@2x.png 2x, /img/hero/hero-tab.png 1x"
        width="704"
        height="267"
      />
      <!-- Mobile Default Retina Adaptation -->
      <img
        class="hero-img"
        srcset="/img/hero/hero-mob@2x.png 2x, /img/hero/hero-mob.png 1x"
        src="/img/hero/hero-mob.png"
        alt="Hero image"
        width="288"
        height="285"
        loading="lazy"
      />
    </picture>
  </div>
</section>
