<section class="product" id="assortment">
  <div class="container">
    <h2 class="product-title">Наші сумки</h2>
    <ul class="product-list">
      <li class="product-list-item">
        <picture class="product-img">
          <source
            srcset="
              ./img/products/product-1-desc.png    1x,
              ./img/products/product-1-desc@2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/products/product-1-tab.png    1x,
              ./img/products/product-1-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/products/product-1-mob.png    1x,
              ./img/products/product-1-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/product-1-mob.png"
            alt="EcoBag Classic"
            width="288"
            height="346"
            loading="lazy"
          />
        </picture>
        <h3 class="product-subtitle">EcoBag Classic</h3>
        <p class="product-description">
          Елегантна та містка сумка для щоденного використання.
        </p>
        <div class="price-group">
          <p class="product-price">$25</p>
          <button
            class="button-inverse product-btn"
            type="button"
            onclick="location.hash = 'support'"
          >
            Купити
          </button>
        </div>
      </li>
      <li class="product-list-item">
        <picture class="product-img">
          <source
            srcset="
              ./img/products/product-2-desc.png    1x,
              ./img/products/product-2-desc@2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/products/product-2-tab.png    1x,
              ./img/products/product-2-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/products/product-2-mob.png    1x,
              ./img/products/product-2-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/product-2-mob.png"
            alt="EcoTote Shopper"
            width="288"
            height="346"
            loading="lazy"
          />
        </picture>
        <h3 class="product-subtitle">EcoTote Shopper</h3>
        <p class="product-description transfered-primary">
          Ідеальна для покупок, з посиленими ручками.
        </p>
        <div class="price-group">
          <p class="product-price">$30</p>
          <button
            class="button-inverse product-btn"
            type="button"
            onclick="location.hash = 'support'"
          >
            Купити
          </button>
        </div>
      </li>
      <li class="product-list-item">
        <picture class="product-img">
          <source
            srcset="
              ./img/products/product-3-desc.png    1x,
              ./img/products/product-3-desc@2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/products/product-3-tab.png    1x,
              ./img/products/product-3-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/products/product-3-mob.png    1x,
              ./img/products/product-3-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/product-3-mob.png"
            alt="EcoBackpack Urban"
            width="288"
            height="346"
            loading="lazy"
          />
        </picture>
        <h3 class="product-subtitle">EcoBackpack Urban</h3>
        <p class="product-description transfered-secondary">
          Зручний рюкзак для міста з відділенням для ноутбука.
        </p>
        <div class="price-group">
          <p class="product-price">$45</p>
          <button
            class="button-inverse product-btn"
            type="button"
            onclick="location.hash = 'support'"
          >
            Купити
          </button>
        </div>
      </li>
      <li class="product-list-item">
        <picture class="product-img">
          <source
            srcset="
              ./img/products/product-4-desc.png    1x,
              ./img/products/product-4-desc@2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/products/product-4-tab.png    1x,
              ./img/products/product-4-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/products/product-4-mob.png    1x,
              ./img/products/product-4-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/product-4-mob.png"
            alt="EcoCrossbody Mini"
            width="288"
            height="346"
            loading="lazy"
          />
        </picture>
        <h3 class="product-subtitle">EcoCrossbody Mini</h3>
        <p class="product-description">
          Компактна сумка через плече для найнеобхіднішого.
        </p>
        <div class="price-group">
          <p class="product-price">$20</p>
          <button
            class="button-inverse product-btn"
            type="button"
            onclick="location.hash = 'support'"
          >
            Купити
          </button>
        </div>
      </li>
      <li class="product-list-item">
        <picture class="product-img">
          <source
            srcset="
              ./img/products/product-5-desc.png    1x,
              ./img/products/product-5-desc@2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/products/product-5-tab.png    1x,
              ./img/products/product-5-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/products/product-5-mob.png    1x,
              ./img/products/product-5-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/product-5-mob.png"
            alt="EcoLunch Bag"
            width="288"
            height="346"
            loading="lazy"
          />
        </picture>

        <h3 class="product-subtitle">EcoLunch Bag</h3>
        <p class="product-description">
          Стильна та практична сумка для обідів.
        </p>
        <div class="price-group">
          <p class="product-price">$15</p>

          <button
            class="button-inverse product-btn"
            type="button"
            onclick="location.hash = 'support'"
          >
            Купити
          </button>
        </div>
      </li>
      <li class="product-list-item">
        <picture class="product-img">
          <source
            srcset="
              ./img/products/product-6-desc.png    1x,
              ./img/products/product-6-desc@2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/products/product-6-tab.png    1x,
              ./img/products/product-6-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/products/product-6-mob.png    1x,
              ./img/products/product-6-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/product-6-mob.png"
            alt="EcoBeach Tote"
            width="288"
            height="346"
            loading="lazy"
          />
        </picture>
        <h3 class="product-subtitle">EcoBeach Tote</h3>
        <p class="product-description">
          Велика сумка для пляжних речей з водонепроникною підкладкою.
        </p>
        <div class="price-group">
          <p class="product-price">$35</p>
          <button
            class="button-inverse product-btn"
            type="button"
            onclick="location.hash = 'support'"
          >
            Купити
          </button>
        </div>
      </li>
      <li class="product-list-item">
        <picture class="product-img">
          <source
            srcset="
              ./img/products/product-7-desc.png    1x,
              ./img/products/product-7-desc@2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/products/product-7-tab.png    1x,
              ./img/products/product-7-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/products/product-7-mob.png    1x,
              ./img/products/product-7-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/product-7-mob.png"
            alt="EcoTravel Duffle"
            width="288"
            height="346"
            loading="lazy"
          />
        </picture>
        <h3 class="product-subtitle">EcoTravel Duffle</h3>
        <p class="product-description">
          Містка дорожня сумка з додатковими кишенями.
        </p>
        <div class="price-group">
          <p class="product-price">$60</p>
          <button
            class="button-inverse product-btn"
            type="button"
            onclick="location.hash = 'support'"
          >
            Купити
          </button>
        </div>
      </li>
      <li class="product-list-item">
        <picture class="product-img">
          <source
            srcset="
              ./img/products/product-8-desc.png    1x,
              ./img/products/product-8-desc@2x.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/products/product-8-tab.png    1x,
              ./img/products/product-8-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/products/product-8-mob.png    1x,
              ./img/products/product-8-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/product-8-mob.png"
            alt="EcoKids Bag"
            width="288"
            height="346"
            loading="lazy"
          />
        </picture>

        <h3 class="product-subtitle">EcoKids Bag</h3>
        <p class="product-description">Яскрава та зручна сумка для дітей.</p>

        <div class="price-group">
          <p class="product-price">$22</p>
          <button
            class="button-inverse product-btn"
            type="button"
            onclick="location.hash = 'support'"
          >
            Купити
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
