<section class="testimonial" id="feedback">
  <div class="container">
    <h2 class="testimonial-title">Що говорять наші клієнти</h2>

    <ul class="testimonial-card-list">
      <li class="testimonial-card-item">
        <ul class="testimonial-card-icon-list">
          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>
        </ul>

        <p class="testimonial-card-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>

        <p class="testimonial-card-feedback-author">Анна</p>
      </li>

      <li class="testimonial-card-item">
        <ul class="testimonial-card-icon-list">
          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg
              class="testimonial-card-icon inactive-star-icon"
              width="20"
              height="19"
            >
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>
        </ul>

        <p class="testimonial-card-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>

        <p class="testimonial-card-feedback-author">Ігор</p>
      </li>

      <li class="testimonial-card-item">
        <ul class="testimonial-card-icon-list">
          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg
              class="testimonial-card-icon inactive-star-icon"
              width="20"
              height="19"
            >
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>
        </ul>

        <p class="testimonial-card-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>

        <p class="testimonial-card-feedback-author">Олена</p>
      </li>

      <li class="testimonial-card-item">
        <ul class="testimonial-card-icon-list">
          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>

          <li class="testimonial-card-icon-item">
            <svg class="testimonial-card-icon" width="20" height="19">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
          </li>
        </ul>

        <p class="testimonial-card-text">
          Швидка доставка та гарне обслуговування.
        </p>

        <p class="testimonial-card-feedback-author">Сергій</p>
      </li>
    </ul>
  </div>
</section>
