.contact {
  padding: 32px 0;
  background-color: var(--background-color);
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sub-flex-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--primary-color);
}

.sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--primary-color);
}

.form-field-label {
  line-height: 160%;
  color: var(--primary-color);
}

.form-field-content-wrapper {
  margin-bottom: 24px;
}

.content-wrapper {
  margin-top: 8px;
}

.text-area {
  width: 100%;
  margin-top: 8px;
  outline: none;
}

.form-input {
  width: 100%;
}

.form-input {
  border: 1px solid var(--form-input-border-color);
  background: var(--form-input-background-color);
  border-radius: 6px;
  padding: 8px 12px;
  height: 42px;
}

.form-input.text-area {
  height: 180px;
  resize: none;
}

.form-input:focus::placeholder {
  color: transparent;
}

.form-submit-btn {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  padding: 12px 24px;
  line-height: 160%;
  height: 50px;
  transition:
    background-color var(--primary-transition),
    opacity var(--primary-transition);
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  cursor: pointer;
  opacity: var(--hover-link-opacity);
}

.form-submit-btn:active {
  background: #113916;
  opacity: 0.6;
}

.block-image {
  border-radius: 40px;
}

.content-wrapper {
  position: relative;
}

.container-picture {
  background-image: image-set(
    url('../img/contacts/contacts-img-mob.png') 1x,
    url('../img/contacts/contacts-img-mob@2x.png') 2x
  );
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 428px;
  border-radius: 40px;
}

input,
textarea {
  outline: none;
  display: block;
  box-sizing: border-box;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  border-color: var(--error-color);
  color: var(--error-color);
}

.form-field-content-wrapper {
  position: relative;
}

.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--error-color);
  font-size: 12px;
  line-height: 160%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.error-message.textarea {
  font-size: 16px;
}

input:invalid:not(:placeholder-shown) + .error-message,
textarea:invalid:not(:placeholder-shown) + .error-message {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .container-title {
    width: 468px;
  }

  .contact {
    padding: 64px 0;
  }

  .form-submit-btn {
    width: 249px;
  }

  .container-picture {
    background-image: image-set(
      url('../img/contacts/contacts-img-tab.png') 1x,
      url('../img/contacts/contacts-img-tab@2x.png') 2x
    );
  }
}

@media screen and (min-width: 1440px) {
  .main-flex-container {
    flex-direction: row;
  }
  .sub-flex-container {
    width: 644px;
  }
  .main-title {
    font-size: 48px;
  }

  .form-submit-btn {
    width: 198px;
  }

  .container-picture {
    background-image: image-set(
      url('../img/contacts/contacts-img-desc.png') 1x,
      url('../img/contacts/contacts-img-desc@2x.png') 2x
    );
    height: 768px;
    width: 644px;
  }

  .container-title {
    width: 644px;
  }
}
