/* !=============== Responsive bg ================ */

.feature {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/about/about-mob.jpg);
}

@media (min-resolution: 2x) {
  .feature {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/about/about-mob@2x.jpg);
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .feature {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/about/about-tab.jpg);
  }
  @media (min-resolution: 2x) {
    .feature {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/about/about-tab@2x.jpg);
    }
  }
}
@media (min-width: 1440px) {
  .feature {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/about/about-desc.jpg);
  }
  @media (min-resolution: 2x) {
    .feature {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/about/about-desc@2x.jpg);
    }
  }
}

/* !=============== /Responsive bg ================ */
.feature-section {
  background-color: var(--background-color);
}
.feature {
  padding-top: 64px;
  padding-bottom: 64px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.feature-text-wrapper {
  max-width: 320px;
  min-height: 220px;
  color: var(--white-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.feature-title {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.feature-subtitle {
  font-family: var(--secondary-font);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
}
.feature-desc {
  line-height: 160%;
  text-align: center;
}
@media (min-width: 768px)  {
  .feature {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .feature-text-wrapper {
    max-width: 573px;
    min-height: 165px;
  }
  .feature-title {
    margin-bottom: 16px;
  }
  .feature-subtitle {
    margin-bottom: 24px;
  }
  .feature-desc {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .feature {
    padding-top: 112px;
    padding-bottom: 94px;
  }
  .feature-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    min-height: 256px;
  }
  .feature-subtitle {
    font-size: 56px;
    max-width: 629px;
  }
  .feature-desc {
    max-width: 573px;
  }
}
